* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

.all_animals {
    padding: 20px;
}
.single_animal img {
    width: 100%;
}
footer {
    padding: 20px;
    background-color: darkblue;
    color: wheat;
    text-align: center;
}